div
{
    
    text-align: center;
    height: 35px;
    width: 215px;
    padding: 10px;
    margin: 5px;
}
.content
{
    border: 1px solid black;
    width: 55px;
    background-color: blue;
}
.main-content
{
    border: 1px solid black;  
    width: 100px; 
    background-color: red;
}
.mid
{
    display: flex;
}
.header
{
    border: 1px solid black;
    background-color: greenyellow;
}
.footer
{
    border: 1px solid black;
    background-color: gold;
}
.navigation
{
    border: 1px solid black;
    background-color: deeppink;
}